In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/pakistan-economy/micro_pak.csv
/kaggle/input/global-financial-inclusion-global-findex-data/global-findex-csv-zip-2-3-mb-/FINDEXData.csv
/kaggle/input/global-financial-inclusion-global-findex-data/global-findex-csv-zip-2-3-mb-/FINDEXSeries.csv
/kaggle/input/global-financial-inclusion-global-findex-data/global-findex-csv-zip-2-3-mb-/FINDEXCountry.csv
/kaggle/input/global-financial-inclusion-global-findex-data/global-findex-csv-zip-2-3-mb-/FINDEXCountry-Series.csv
/kaggle/input/global-financial-inclusion-global-findex-data/global-findex-csv-zip-2-3-mb-/FINDEXFootNote.csv
/kaggle/input/global-financial-inclusion-global-findex-data/global-findex-excel-zip-6-2-mb-/FINDEXEXCEL.xlsx

In [2]:
csvList=['/kaggle/input/pakistan-economy/micro_pak.csv']
dfData=pd.read_csv(csvList[0])

In [3]:
dfData

,economy,economycode,wpid_random,wgt,female,age,educ,inc_q,emp_in,urbanicity_f2f,...,receive_wages,receive_transfers,receive_pension,receive_agriculture,pay_utilities,remittances,mobileowner,internetaccess,anydigpayment,merchantpay_dig
0,Pakistan,PAK,163613042,1.102319,2,29.0,2,4,1,2,...,1,4,4,4,2,5,1,1,1,0
1,Pakistan,PAK,113549828,0.394235,1,40.0,1,3,2,2,...,5,4,4,4,4,5,2,2,0,0
2,Pakistan,PAK,185362095,0.509578,1,20.0,2,3,2,2,...,4,4,4,4,4,5,1,1,0,0
3,Pakistan,PAK,136416803,1.032916,1,30.0,1,1,1,1,...,3,4,4,4,2,5,1,2,0,0
4,Pakistan,PAK,112485323,1.389640,2,55.0,2,5,2,1,...,4,4,4,2,2,5,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
997,Pakistan,PAK,179405643,0.445223,2,28.0,1,2,1,2,...,4,4,4,2,4,5,1,2,1,0
998,Pakistan,PAK,170970055,1.329859,2,51.0,1,4,1,1,...,4,4,4,4,4,4,2,2,1,0
999,Pakistan,PAK,136804470,0.318652,2,48.0,3,5,1,1,...,4,4,4,4,2,1,1,1,1,0
1000,Pakistan,PAK,158002904,0.626675,2,50.0,1,4,1,1,...,4,4,4,4,4,5,1,1,0,0
1001,Pakistan,PAK,156632939,0.765121,2,34.0,2,4,1,2,...,1,4,4,4,2,5,1,1,1,0

In [4]:
dfData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1002 entries, 0 to 1001
Columns: 114 entries, economy to merchantpay_dig
dtypes: float64(67), int64(45), object(2)
memory usage: 892.5+ KB

In [5]:
dfData.describe()

,wpid_random,wgt,female,age,educ,inc_q,emp_in,urbanicity_f2f,account,account_fin,...,receive_wages,receive_transfers,receive_pension,receive_agriculture,pay_utilities,remittances,mobileowner,internetaccess,anydigpayment,merchantpay_dig
count,1.002000e+03,1002.000000,1002.000000,1001.000000,1002.000000,1002.000000,1002.000000,1002.000000,1002.000000,1002.000000,...,1002.000000,1002.000000,1002.000000,1002.000000,1002.000000,1002.000000,1002.000000,1002.000000,1002.000000,1002.000000
mean,1.621074e+08,1.000000,1.498004,33.947053,1.495010,3.306387,1.561876,1.630739,0.236527,0.188623,...,3.562874,3.905190,3.973054,3.712575,2.905190,4.574850,1.310379,1.663673,0.189621,0.013972
std,2.970189e+07,0.850389,0.500246,12.325834,0.643476,1.420887,0.496404,0.482846,0.425162,0.391404,...,0.929341,0.462363,0.286688,0.725737,1.093982,1.146112,0.469310,0.501404,0.392197,0.117433
min,1.111191e+08,0.251686,1.000000,15.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000
25%,1.369841e+08,0.408215,1.000000,24.000000,1.000000,2.000000,1.000000,1.000000,0.000000,0.000000,...,4.000000,4.000000,4.000000,4.000000,2.000000,5.000000,1.000000,1.000000,0.000000,0.000000
50%,1.617664e+08,0.718380,1.000000,32.000000,1.000000,3.000000,2.000000,2.000000,0.000000,0.000000,...,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000,1.000000,2.000000,0.000000,0.000000
75%,1.881463e+08,1.242584,2.000000,42.000000,2.000000,5.000000,2.000000,2.000000,0.000000,0.000000,...,4.000000,4.000000,4.000000,4.000000,4.000000,5.000000,2.000000,2.000000,0.000000,0.000000
max,2.109817e+08,3.784431,2.000000,93.000000,3.000000,5.000000,2.000000,2.000000,1.000000,1.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,6.000000,4.000000,4.000000,1.000000,1.000000